<h1>Basket Items</h1>

<table>
	<thead>
		<tr>
			<th>Item</th>
			<th>Price</th>
			<th>Quantity:</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @basket.items.uniq.each do |item| %> 
			<tr>
				<td><%= item.name %></td>
				<td><%= item.price %></td>

				<% item_id = item[:id] %>
				<% same_basket_items = @basket.items.where("id = '#{item_id}'") %>
				<td><%= item_qty = same_basket_items.count %></td>

				<td><%= button_to "Remove", remove_item_url(item), method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<%= link_to "Back to Item List", items_path %>

<%#= render 'shared/table', items: @basket.items, action: :show %>

